ul{
    margin: 0%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: black;
    padding: 20px;
}
a {
    text-decoration: none;
    color: white;
   
}
.body{
       display: flex;
       position: relative;
       background-color: white;
 
}
.contact{
       mix-blend-mode: luminosity;
       color: white;
        margin-top: 8%;
        width: auto;
      font-size: 5rem;
        position: absolute;
        border-color: none;
        margin-left: 35%;
}
.proud{
       position: absolute;
width: auto;
height: auto;
color: white;
margin-top: 38%;
margin-left: 30%;
font-size: 2rem;
mix-blend-mode: difference;
   

}
.hero{
   background-color: white;
   height: 700px;
   width: 1520px;
}
.hero2{
   background-color: white;
   color: black;
   margin-top: 20px;
   margin-left: 550PX;
  
}
.hero3{
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-left: 550PX;
    
}
.hero4{
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-left: 550PX;
}
.hero5{
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-left: 550PX;
}
.send{
    margin-left: 540px;
    margin-top: 10px;
}
